h1
  margin-bottom: 0px
  
p
  font-size: 18px
  
.media-show-grid
  min-height: 400px
  display: grid

.media-summary
  color: #FFF
  p 
    font-size: 20px

.media-poster
  justify-content: center
  display: flex
  align-items: center

.media-release-year, .tagline
  font-weight: 300