@import '../../../../../assets/stylesheets/modules/mixins'
@import '../../../../../assets/stylesheets/variables'

h1
  margin-bottom: 0px
  
p
  font-size: 18px
  
.media-show-wrapper
  min-height: 100vh

.media-show-grid
  min-height: 400px
  display: grid
  padding-top: 20px

.media-summary
  color: #FFF
  p 
    font-size: 18px

.media-summary-container
  padding: 0 24px

.media-poster
  display: flex
  align-items: flex-start
  justify-content: center

.streaming-providers-grid
  justify-content: center
  .streaming-providers
    margin-top: 20px
    padding: 12px
    border-radius: 5px
    width: 228px
    border: 1px solid var(--primary-color)
    .title
      font-weight: 400
      background: var(--primary-color)