.media-show-grid
  min-height: 400px
  display: grid

.media-summary
  padding: 24px
  color: #FFF

.media-poster
  justify-content: center
  display: flex
  align-items: center

.media-release-year, .tagline
  font-weight: 300