.centered-progress
  display: flex
  justify-content: center
  margin-top: 32px

.trending-movies
  display: inline-flex
  justify-content: center 
  margin-top: 24px

.trending-divider
  border-color: black
  width: 755px