@import "modules/modal"
@import "modules/alert"
@import "variables"

body
  font-family: 'Sofia Pro', sans-serif
  margin: 0

h1
  font-size: 50px

a
  cursor: pointer

p
  font-size: 24px

.is-muted
  color: #d6d6d6

.is-uppercase
  text-transform: uppercase

.is-bold
  font-weight: 700 !important

.is-black
  color: #313131 !important

.is-success
  color: #52c41a

.is-danger
  color: #f5222d

.w-full
  width: 100%

.flex
  display: flex

.align-items-end
  align-items: flex-end

.align-items-center
  align-items: center

.justify-content-center
  justify-content: center

.ml-auto
  margin-left: auto

.is-italic
  font-style: italic

.is-underline
  text-decoration: underline